<footer class="footer clearfix">
  <div class="copyright"><i class="far fa-lg fa-copyright"></i> Copyright 2015-{{ "now" | date: "%Y" }} Andreea-Ina Radu</div>

      <nav class="menu_bottom">
        <ul>
		<li><a href="{{site.url}}">Home</a></li>
		<li><a href="{{site.baseurl}}/research.html">Research</a></li>
        <li><a href="{{site.baseurl}}/teaching.html">Teaching</a></li>
        <li><a href="{{site.baseurl}}/hacking.html">Hacking</a></li>
        </ul>
      </nav>

</footer>


	<script src="{{site.baseurl}}/js/jquery.js"></script>
	<script src="{{site.baseurl}}/js/bootstrap-collapse.js"></script>
  	<script>
    	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-49520796-1', 'auto');
		ga('send', 'pageview');

 	</script>
