   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
		  <a class="brand" href="{{ site.url }}/">{{ site.title }}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
		    <li><a href="{{site.url}}">Home</a></li>
		    <li><a href="{{site.baseurl}}/research.html">Research</a></li>
        <li><a href="{{site.baseurl}}/teaching.html">Teaching</a></li>
        <li><a href="{{site.baseurl}}/hacking.html">Hacking</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
