<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

 	<div class="container">
        {{ content }}


    	<div class="span11">{% include footer.html %}</div>
	</div>
  </body>

</html>
