---
layout: default
---
  <div class="container-fluid">
    <div class="row-fluid">
	    <div class="offset3 span6 hero-unit" style="text-align: center;">
        <h1>{{ page.title }}</h1>
        {% if page.tagline %}
        <p class="post-meta" style="text-align: center">{{ page.tagline }} </p>
        {% endif %}
      </div> <!-- span -->
    </div> <!-- row -->
    <div class="row-fluid">
          {{ content }} 
    </div>

</div>
