---
layout: default_writeup
---
<div class="post">
  <div class="container-fluid">
    <div class="row-fluid">
	    <div class="offset3 span6 hero-unit">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta" style="text-align: center">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        <p style="text-align: center">{{ page.desc }}</p>
      </div> <!-- span -->
    </div> <!-- row -->
    <div class="row-fluid">
      <div class="span12">  
          {{ content }} 
      </div>
    </div>

  </div>
</div>
